<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="/lib/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/lib/font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="/lib/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/css/index.css">