<script src="../common.js"></script>
<p-tabs active-key="orderAll" @on-click="goPage">
    <p-tab-pane label="全部订单" key="orderAll"></p-tab-pane>
    <!--<p-tab-pane label="未付款" key="orderUnpaid"></p-tab-pane>-->
    <p-tab-pane label="等待出库" key="orderInstore"></p-tab-pane>
</p-tabs>
<p-form v-ref:query :rules="rules" label-position="right" :label-width="80">
    <p-row>
        <p-col span="8">
            <p-form-item label="订单编号:" rule-key="orderId" :value="querys.orderId">
                <p-input type="text" :value.sync="querys.orderId" :maxlength="32" placeholder="请输入订单编号"></p-input>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="下单时间:" :value="orderCreateDateTime">
                <p-date-picker type="daterange" :value.sync="orderCreateDateTime" placement="bottom-start" placeholder="选择日期"></p-date-picker>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="支付方式:" :value="querys.paymentType">
                <p-select :model.sync="querys.paymentType" clearable>
                    <p-option :value="paymentType.value" v-for="paymentType in paymentTypeList">{{paymentType.label}}</p-option>
                </p-select>
            </p-form-item>
        </p-col>
    </p-row>
    <p-row>
        <p-col span="8">
            <p-form-item label="客户姓名:" rule-key="consName" :value="querys.consName">
                <p-input type="text" :value.sync="querys.consName" :maxlength="32" placeholder="请输入客户姓名"></p-input>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="客户电话:" rule-key="consMobilePhone" :value="querys.consMobilePhone">
                <p-input type="text" :value.sync="querys.consMobilePhone" :maxlength="11" placeholder="请输入客户电话"></p-input>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="下单账号:" :value="querys.pin">
                <p-input type="text" :value.sync="querys.pin" :maxlength="32" placeholder="请输入下单账号"></p-input>
            </p-form-item>
        </p-col>
    </p-row>
    <p-row>
        <p-col span="8">
            <p-form-item label="SKU编码:" rule-key="skuId" :value="querys.skuId">
                <p-input type="text" :value.sync="querys.skuId" :maxlength="32" placeholder="请输入SKU编码"></p-input>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="商品名称:" rule-key="skuName" :value="querys.skuName">
                <p-input type="text" :value.sync="querys.skuName" :maxlength="32" placeholder="请输入商品名称"></p-input>
            </p-form-item>
        </p-col>
        <p-col span="8">
            <p-form-item label="物流单号:" rule-key="logiNo" :value="querys.logiNo">
                <p-input type="text" :value.sync="querys.logiNo" :maxlength="32" placeholder="请输入物流单号"></p-input>
            </p-form-item>
        </p-col>
    </p-row>
    <p-row>
        <p-col class="txt_cen">
            <p-button type="primary" html-type="submit" class="mr_10" @click="handleSubmit">查询</p-button>
            <p-button type="ghost" html-type="reset" class="mr_10" @click="handleReset">重置</p-button>
            <!--<p-button type="primary" html-type="button" @click="batchExport">批量导出</p-button>-->
        </p-col>
    </p-row>
</p-form>
<div class="table_item_h mt_10">
    <p-checkbox :checked.sync='select_all' @click="selectAll"></p-checkbox>
    <p-button type="ghost" size="small" class="mr_10" @click="batchRemark">批量备注</p-button>
</div>
<p-checkbox-group :model.sync="all">
    <div class="table_item mt_10" v-for="listData in allOrder.pageList">
        <div class="table_item_h">
            <div class="fl order_detail">
                <p-checkbox :value="listData.orderId">订单编号：{{listData.orderId}}</p-checkbox>
                <p-icon type="ios-copy" class="btn_copy mr_5" v-copy="isCopy" :text="listData.orderId"></p-icon>
                <span class="mr_10">下单时间：{{listData.orderCreateDate}}</span>
                <span>付款时间：{{listData.paymentConfirmTime}}</span>
            </div>
            <div class="fl buyer txt_cen mr_10 ml_10" :title="listData.pin">
                <span>买家用户名：{{listData.pin}}</span>
                <span class="icon_dong"></span>
            </div>
            <div class="fl deliver">
                <span class="mr_5">物流公司：{{listData.logiCoprName}}</span>
                <span>快递单号：{{listData.logiCoprNo}}</span>
            </div>
        </div>
        <table class="order_table txt_cen">
            <colgroup>
                <col width="40%"/>
                <col width="12%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
            </colgroup>
            <tbody>
            <tr v-for="(index,popOrderItemVo) in listData.popOrderItemVoList">
                <td class="order_good">
                        <div class="fl" v-for="imgUrl in images | filterBy popOrderItemVo.skuId in 'skuId'">
                            <img :src="imgUrl.url" class="pic"/>
                        </div>
                        <div class="goods fl">
                            <div class="goods_t">
                                {{popOrderItemVo.name}}
                            </div>
                            <div class="goods_code">货号：{{popOrderItemVo.outerId}}</div>
                        </div>
                        <div class="goods_num fl">
                            <span class="icon_times">╳</span>
                            {{popOrderItemVo.num}}
                        </div>
                        <div class="goods_hand">
                            <p-button type="ghost" @click="waresnapshot(listData.orderId,popOrderItemVo.skuId)">订单快照</p-button>
                        </div>
                </td>
                <td rowspan="{{listData.popOrderItemVoList.length}}" v-if="index==0">
                    <div>{{listData.paymentTypeName}}</div>
                    <div>订单金额：{{listData.orderSum}}</div>
                    <div>货款金额：{{listData.sellerOrderSum}}</div>
                    <div v-for="coupon in listData.couponDetailVOList">{{coupon.couponName}}：{{coupon.couponPrice}}</div>
                </td>
                <td rowspan="{{listData.popOrderItemVoList.length}}" v-if="index==0">
                    <div class="status">
                        <strong>{{listData.statusDesc}}</strong>
                    </div>
                    <div class="txt_cen">({{listData.ynDesc}})</div>
                </td>
                <td rowspan="{{listData.popOrderItemVoList.length}}" v-if="index==0" class="remark_info">
                    <div>商家备注：</div>
                    <div>{{listData.remark}}</div>
                </td>
                <td rowspan="{{listData.popOrderItemVoList.length}}" v-if="index==0">
                    <p-button type="ghost" size="small" @click="goPage(urlName.orderDetail,listData.orderId)">订单详情</p-button>
                    <p-button type="ghost" size="small" class="mt_10" @click="addBtn(listData.orderId)" v-if="listData.isRemark">修改备注</p-button>
                    <p-button type="ghost" size="small" class="mt_10" @click="addBtn(listData.orderId)" v-else>添加备注</p-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</p-checkbox-group>
<p-row class="mt_10">
    <p-col class="fr">
        <p-page :total.sync="allOrder.totalItem" :current.sync="allOrder.index" :page-size.sync="allOrder.pageSize" @on-change="pageChange" @on-page-size-change="pageSizeChange"></p-page>
    </p-col>
</p-row>
<p-modal :visible.sync="modal1" title="添加备注" @on-ok="addRemark" @on-cancel="cancel">
    <p-input type="textarea" :value.sync="orderRemarkVO.remark" :rows="6" :maxlength=200 placeholder="请输入..."></p-input>
    <p-radio-group :model.sync="orderRemarkVO.flagMark" class="mt_10">
        请选择等级：
        <p-radio value="1">
            <span>1</span>
        </p-radio>
        <p-radio value="2">
            <span>2</span>
        </p-radio>
        <p-radio value="3">
            <span>3</span>
        </p-radio>
        <p-radio value="4">
            <span>4</span>
        </p-radio>
        <p-radio value="5">
            <span>5</span>
        </p-radio>
    </p-radio-group>
    等级最高为1级
</p-modal>
<p-modal :visible.sync="modal2" title="添加备注" @on-ok="batchaddRemark" @on-cancel="cancel">
    <p-input type="textarea" :value.sync="orderRemarkVO.remark" :rows="6" :maxlength=200 placeholder="请输入..."></p-input>
    <p-radio-group :model.sync="orderRemarkVO.flagMark" class="mt_10">
        请选择等级：
        <p-radio value="1">
            <span>1</span>
        </p-radio>
        <p-radio value="2">
            <span>2</span>
        </p-radio>
        <p-radio value="3">
            <span>3</span>
        </p-radio>
        <p-radio value="4">
            <span>4</span>
        </p-radio>
        <p-radio value="5">
            <span>5</span>
        </p-radio>
    </p-radio-group>
    等级最高为1级
</p-modal>