<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">

    <!--相关的配置参考文档https://logback.qos.ch/codes.html，如果是log4j的文件可以在这里转换一下-->
    <!-- 定义日志文件 输入位置 -->
    <property name="log_dir" value="${log.dir}" />

    <!-- 日志最大的历史 10天 -->
    <property name="maxHistory" value="10"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度,%mdc:mdcMap, %msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{30} - %mdc - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 按照每天生成错误日志文件 -->
    <appender name="cn_tasks_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${log_dir}/cn_tasks_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/cn_tasks_error.%d.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{30} - %mdc - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 按照每天生成正常日志文件 -->
    <appender name="cn_tasks_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${log_dir}/cn_tasks_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/cn_tasks_info.%d.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{30} - %mdc - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--数据库日志的配置-->
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="dao" level="DEBUG"/>

    <!-- 默认日志级别 -->
    <root level="INFO">
        <appender-ref ref="cn_tasks_info"/>
        <appender-ref ref="cn_tasks_error" />
        <appender-ref ref="STDOUT" level="INFO"/>
    </root>

</configuration>