<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jmq="http://code.jd.com/schema/jmq"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.jd.com/schema/jmq http://code.jd.com/schema/jmq/jmq-1.1.xsd"
       default-autowire="byName">


    <jmq:transport id="appointTransport" address="${jmq.address}" user="${jmq.user}"
                   password="${jmq.password}" app="${jmq.app}"/>

    <jmq:producer id="appointProducer" retryTimes="2" transport="appointTransport"/>

    <bean id="forceBotMessageListener" class="com.jd.appoint.service.mq.ForceBotMessageListener"/>

    <!--BinLake监听消息 start-->
    <bean id="bLakeAppointOrderListener" class="com.jd.appoint.service.mq.BLakeAppointOrderListener"></bean>
    <jmq:consumer id="bLakeAppointOrderConsumer" transport="appointTransport">
        <jmq:listener topic="${blake.appoint.order}" listener="bLakeAppointOrderListener"
                      forceBotListener="forceBotMessageListener" maxConcurrent="10" minConcurrent="5"/>
    </jmq:consumer>
    <!--BinLake监听消息  end-->

</beans>