<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <description>service配置</description>

    <bean id="recordConfig" class="com.jd.appoint.domain.sys.RecordConfig">
        <property name="token" value="${fp.token}"/>
    </bean>

    <bean id="redisCache" class="com.jd.appoint.common.utils.RedisCache"/>
</beans>